[Desktop Entry]
Name=SessionSifu
Comment=Save and restore applications, windows and workspaces
Exec=sessionsifu
Icon=org.gnome.SessionSifu
Terminal=false
Type=Application
Categories=Utility;
Keywords=session;restore;windows;workspace;GNOME;
StartupNotify=true
DBusActivatable=false
OnlyShowIn=GNOME;Unity;
